<!doctype html>
<button><a href="/">Home</a></button>
<button><a href="/products">Products</a></button>
<button><a href="/products/create">Create Product</a></button>
<button><a href="/products/delete_products">Deleted Products</a></button>
<button>About</button>