<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
		<%- include('partials/navigation') %>
	</main>

    <%- include('partials/footer') %>
  </body>
</html>
